<!doctype html>
<html lang=en xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset=utf-8>
    <title>Content Explorer</title>
    <style th:replace="fragments/menu_bar :: menuStyle"></style>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<ul th:replace="fragments/menu_bar :: menu (activeItem='content/', baseUrl='..')">
    <span>MENU BAR</span>
</ul>
<h1>Model Server Content</h1>
<h2>Select a Version</h2>
<span th:if="${allVersions.isEmpty}">No versions available.</span>
<ul th:if="${!allVersions.isEmpty}">
    <li th:each="version : ${allVersions}">
        <a th:href="${version} + '/'" th:text="${version}">Version</a>
    </li>
</ul>
</body>
</html>