<!doctype html>
<html lang=en xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset=utf-8>
    <title>Content Explorer</title>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
    <script language="javascript" type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        var expander = document.getElementsByClassName("expander");
        var expandAllBtn = document.getElementById("expandAllBtn");
        var collapseAllBtn = document.getElementById("collapseAllBtn");

        for (let i = 0; i < expander.length; i++) {
            expander[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("expander-expanded");
            });
        }

        expandAllBtn.addEventListener("click", function () {
            var nested = document.getElementsByClassName("nested")
            for (let i=0; i < nested.length; i++) {
                nested[i].classList.add("active");
            }
            for (let i = 0; i < expander.length; i++) {
                expander[i].classList.add("expander-expanded")
            }
        });

        collapseAllBtn.addEventListener("click", function () {
            var nested = document.getElementsByClassName("nested")
            for (let i=0; i < nested.length; i++) {
                nested[i].classList.remove("active");
            }
            for (let i = 0; i < expander.length; i++) {
                expander[i].classList.remove("expander-expanded")
            }
        });
    });
    </script>
</head>
<body>
<h1>Model Server Content</h1>
<button id="expandAllBtn" type="button">Expand all</button>
<button id="collapseAllBtn" type="button">Collapse all</button>
<ul class="treeRoot">
    <div th:each="rootNode : ${rootNodes}">
        <div th:each="child : ${rootNode.allChildren}">
            <div th:replace="fragments/node_item :: nodeItem (node=${child})">
                <span>[PlaceHolder]</span>
            </div>
        </div>
    </div>
</ul>

</body>
</html>