<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Modelix Model Server</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #888;
            padding: 3px 12px;
        }
        h1 {
            font-family: sans-serif;
        }
    </style>
    <style th:replace="fragments/menu_bar :: menuStyle"></style>
</head>
<body>
    <ul th:replace="fragments/menu_bar :: menu (activeItem='root')"></ul>
    <h1>
        Model Server
    </h1>
</body>
</html>