<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="../content.css">
    </head>
    <ul>
        <li class="nodeItem" th:fragment="nodeItem (node)">
            <div class="expander" th:if="${!node.allChildren.isEmpty}">
                &#x25B6;
            </div>
            <div class="nameField" th:attr="data-nodeid=${node.nodeId}" th:with="hasName=${#lists.contains(node.getPropertyRoles, 'name')}">
                <b class="nodeName" th:if="${hasName}" th:text="${node.getPropertyValue('name')}">name</b>
                <b th:if="${!hasName}">Unnamed Node</b>
                <small th:text="'('+ ${node}+')'">node</small>
                <br />
                <small th:if="${node.getConceptReference() != null}" th:text="${node.getConceptReference().getUID()}">conceptReference</small>
            </div>
            <div class="nested">
                <ul class="nodeTree" th:each="child : ${node.allChildren}">
                    <li th:replace="fragments/node_item :: nodeItem (${child})">child</li>
                </ul>
            </div>
        </li>
    </ul>
</html>
